ENV=development/production
DEBUG=True/False
SECRET_KEY=your-secret-key
ALGORITHM=jwt-algorithm
DATABASE_URL=sqlite+aiosqlite:///./dev.db or postgresql+asyncpg://user:password@host/dbname
ACCESS_TOKEN_EXPIRE_MINUTES=duration-in-minutes(int)
REFRESH_TOKEN_EXPIRE_DAYS=duration-in-days(int)
